{% extends 'baseFront.html.twig' %}


{% block body %}


    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Want to find more about our gym ? </span>
                        <h2>Below you'll find sub-Gyms available :</h2>
                    </div>
                </div>
            </div>

            <div class="row">


                    {% for gym in gyms %}




                        <div class="col-lg-6 order-lg-2 col-md-9 p-10">
                            <div class="ss-text" style="round: #252525; padding: 20px 70px; background-color: rgba(250,80,33,0.7)">



                                    <h2 style="color: #000000">{{ gym.location }}</h2>
                                    <span style="color: white">{{ gym.facilities }}</span>
                                <h2 style="color: #000000">----------------------------</h2>
                                <h2>And these different rooms </h2>
                                <ul style="color: white ">
                                    {% for room in rooms %}
                                        {% if room.idgym.idg == gym.idg %}
                                            <li>{{ room.roomname }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>

                    {%  endfor %}





           </div>
            {{ knp_pagination_render(gyms) }}
        </div>


    </section>



{% endblock %}