{% extends 'base_front.html.twig' %}


{% block body %}
    <!-- Pricing Section Begin -->
    <section class="pricing-section service-pricing spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Courses</span>
                        <h2>Choose your favorite courses to reservate</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for course in courses %}
                    <div class="col-lg-4 col-md-8">
                        <div class="ps-item">
                            <h3>Courses of the week : </h3>
                            <div class="pi-price">
                                <h2>{{ course.category }}</h2>
                                <span>{{ course.address }}</span>
                            </div>
                            <h2>And these different rooms </h2>
                            <ul>
                                {% for course in courses %}
                                    
                                        <li>{{ course.endTime ? course.endTime|date('H:i:s') : ''}}</li>
                                    
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                {%  endfor %}


            </div>
        </div>
    </section>
    <!-- Pricing Section End -->
{% endblock %}