{% extends 'baseBack.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <div  class="main-panel">
        <div class="content-wrapper">
            <div class="page-header" style="margin: 0 0 4.5rem 0;">
               

            </div>
            <div class="row" style="margin: auto;">
                <div class="col-md-6 grid-margin stretch-card" style="margin:auto;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-right">
                               
                                <div class="col-2 text-right" style="display: -webkit-box;">
                                </div>
                            </div>

                           



    <h1>Sign Up</h1>

    {{ include('user/_form_member.html.twig') }}

  


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}